{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>code_reaver's pit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'blog_app/main.css' %}" />
    <link href="{% static 'blog_app/favicon.ico' %}" rel="icon" type="image/x-icon" />
    <!-- fonts awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- include libraries(jQuery, bootstrap for summernote) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
</head>

<body>
<!-- navi -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'blog_app:index' %}">code_reaver's pit</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">    
            <ul class="nav navbar-nav">
                <li><a href="{% url 'blog_app:blog_index' %}">Blog</a></li>
                <li><a href="{% url 'log_app:topics' %}">Dzienniczek</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}">Witaj, {{ user.username }}. Wyloguj</a></li>
                {% endif %}
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            W świecie <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://gitlab.com/code_reaver" target="_blank"><i class="fa fa-gitlab" style="font-size:24px;color:red;"></i>
                         Gitlab</a></li>
                        <li role="separator" class="divider"><
                        <li><a href="https://www.instagram.com/code_reaver/" target="_blank">
                            <i class="fa fa-instagram" style="font-size:24px;color:red;"></i> Instagram</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block header %}{% endblock header %}
<div class="container-fluid">
    {% block content %}

    {% endblock content %}
</div>

<!-- Footer -->
<div class="footer">
    <div class="container" style="text-align: center;color: #888787;">&copy; C0d3R34v3R 2018</div>
</div>
  
<!--Footer -->

<script>
    $('#summernote').summernote({
      tabsize: 2,
      height: 500
    });
</script>
    
</body>
</html>