{% extends "log_app/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container lowe">
    <p><a href="{% url 'log_app:topic' topic.text %}">{{ topic }}</a></p>

    <p>Edycja wpisu:</p>

    <form action="{% url 'log_app:edit_entry' entry.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Zapisz zmiany</button>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}