{% extends "log_app/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container lowe">
    <section class="content">
        <h3>Dodaj nowy temat:</h3>
        <form action="{% url 'log_app:new_topic' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Dodaj temat</button>
            {% endbuttons %}
        </form>
    </section>
</div>
{% endblock content %}