{% extends "log_app/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container lowe">
    <section class="content">
        <h3>
            <a href="{% url 'log_app:topic' topic.text %}">{{ topic }}</a>
        </h3>
        <p>Dodaj nowy wpis:</p>
        <form action="{% url 'log_app:new_entry' topic.text %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name='submit' class="btn btn-primary">Dodaj wpis</button>
            {% endbuttons %}
        </form>
    </section>
</div>
{% endblock content %}