{% extends "log_app/base.html" %}

{% block content %}
<div class="container lowe">
    
    <section class="content">
        <h3>Tematy: </h3>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Temat</th><th>czy publiczny?</th><th>Data dodania</th>
                </tr>
            </thead>
            <tbody>
            {% for topic in topics %}
                {% if user.is_authenticated%}
                <tr>
                    <td><a href="{% url 'log_app:topic' topic.text %}">{{ topic }}</a></td><td>(Priv={{ topic.private }})</td>
                    <td>dodane: {{topic.date_added|date:'Y-m-d'}}</td>
                </tr>
                {% else %}
                    {% if topic.private is False %}
                    <tr>
                        <td><a href="{% url 'log_app:topic' topic.text %}">{{ topic }}</a></td>
                        <td><i class="glyphicon glyphicon-ok"></i></td>
                        <td>dodane: {{topic.date_added|date:'Y-m-d'}}</td>
                    </tr>
                    {% endif %}
                {% endif %}
            {% empty %}
                <li>Nie ma żadnych tematów</li>
            {% endfor %}
            </tbody>
        </table>

        {% if user.is_authenticated %}
            <p><a href="{% url 'log_app:new_topic' %}">Dodaj nowy temat</a> </p>  
        {% endif %}
    </section>
</div>   

{% endblock content %}