{% extends "log_app/base.html" %}

{% block content %}
<div class="container lowe">
    <section class="content">
        <h2>Temat: {{ topic.id }}--{{ topic }} </h2>

        {% if user.is_authenticated %}
            <p><a href="{% url 'log_app:delete_topic' topic%}">Usuń temat</a></p>
        {% endif %}

        <h3>Wpisy: </h3>
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'log_app:new_entry' topic.text %}">Dodaj nowy wpis</a>
            </p>
        {% endif %}
            <hr />
            {% for entry in entries %}
                <div class="entry">
                    <p><em>{{ entry.date_added|date:'d M Y H:i' }}</em></p>
                    <p>{{ entry.text|safe|linebreaks }}</p>
                    {% if user.is_authenticated %}
                        <p>
                            <a href="{% url 'log_app:edit_entry' entry.id %}">Edytuj wpis</a>
                            <a href="{% url 'log_app:delete_entry' entry.id %}">Usuń wpis</a>
                        </p>
                    {% endif %}
                </div>
                <hr />
            {% empty %}
                Brak wpisów
            {% endfor %}
    </section>
</div>

{% endblock content %}