{% extends "log_app/base.html" %}

{% block content %}
<div class="container lowe">
    {% if form.errors %}
    <p>Ojej. Nie udało się zalogować...</p>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Zaloguj</button>
        <input type="hidden" name="next" value="{% url 'blog_app:index' %}" />
    </form>
</div>
{% endblock content %}