{% extends "log_app/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container lowe">
    <section class="content">
        <h2>Dodaj kategorię</h2>

        <form action="{% url 'blog_app:add_category' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button name="submit" class="btn btn-primary">Dodaj</button>
            {% endbuttons %}
        </form>
    </section>
</div>
{% endblock content %}