{% extends "log_app/base.html" %}


{% block content %}
<div class="container lowe">
    <div class="row">
    <div class="col-md-10 posts ">
        {% block posts %}
        {% endblock posts %}

        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'blog_app:new_post' %}">Dodaj wpis</a> - 
                <a href="{% url 'blog_app:add_category' %}">Dodaj kategorię</a>
            </p>
        {% endif %}

    
        {% for blog_post in blog_posts  %}
        <div class="thumbnail">

            <h2><a href="{% url 'blog_app:show_post' blog_post.id %}">{{ blog_post.title }}</a></h2>
            <h5>{{ blog_post.date_added|date:'d M Y' }}</h5>
            <!--<p>kategoria: <a href="{% url 'blog_app:category' blog_post.category %}">{{ blog_post.category }}</a></p>-->
            <p>{{ blog_post.post|truncatechars:200|safe }}</p>
            <p><a href="{% url 'blog_app:show_post' blog_post.id %}">Czytaj więcej</a></p>

            {% if user.is_authenticated %}
                <a href="{% url 'blog_app:edit_post' blog_post.id %}">Edytuj wpis</a>
            {% endif %}

        </div>
        
        {% empty %}
        <div>
            Brak wpisoów
        </div>
        {% endfor %}

        <nav aria-label="..." >
            <ul class="pager">
                <li class="previous">            
                    {% if blog_posts.has_previous %}
                        <a href="?page={{ blog_posts.previous_page_number }}"> <span aria-hidden="true">&larr;</span> Nowsze wpisy</a>
                    {% endif %}
                    </li>
                <li class="next">    
                    {% if blog_posts.has_next %}
                    <a href="?page={{ blog_posts.next_page_number }}"><span aria-hidden="true">&rarr;</span>Starsze wpisy</a>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>      

    <div class="col-md-2" >
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">kategorie</h3>
            </div>
            <div class="panel-body">
                {% for category in categories  %}
                    <a href="{% url 'blog_app:category' category.text %}">{{ category }}</a><br />
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}