{% extends "log_app/base.html" %}

{% block content %}
<div class="container lowe">
    <section class="content">
        <h3>Edytuj wpis {{ blog_post.title }}</h3>
        <form action="{% url 'blog_app:edit_post' blog_post.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Aktualizuj</button>
        </form>
    </section>
</div>
{% endblock content %}