{% extends "log_app/base.html" %}

    {% block header %}

    <header>
        <div class="jumbotron">
            <div class="container lowe">
                <h1 style="color: #cfcfcf;">code_reaver</h1>
                <p style="color: #cfcfcf;">if __name__ == "__main__":</p>

                <p><a class="btn btn-primary btn-lg" href="{% url 'blog_app:blog_index' %}" role="button">show_blog(click)</a></p>
                
            </div>
        </div>
    </header>

    {% endblock header %}

    {% block content %}
    <div class="container lp">
        <div class="row">
            <h2>To moja bajka...</h2>
            
                <h3 style="text-align:center">
                    ... a w bajce tej dokumentuję sam siebie.
                </h3>
                
                <h4 style="text-align:center">
                    Bajka składa się z dwóch ogniw:
                </h4>
                   
                <div class="secta">
                    
                    <div class="col-md-4">
                        <h3 style="text-align:center">   
                            <a href="{% url 'blog_app:blog_index' %}">Blog</a>
                        </h3>
                        <p style="text-align: justify">
                            Klasyczny blog podzielony tylko na kategorie. Miejsce, w którym pojawiać będą się plany, etapy oraz rozwiązania projektów
                            tych większych, jak i tych, które wymagają krótszego czasu realizacji. Poza tym pojawiać będą się też będą posty związane ze
                            światem IT, a niekiedy nawet refleksje na temat mikro oraz makro świata.

                        </p>        
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h3 style="text-align:center">   
                            <a href="{% url 'log_app:topics' %}">Dzienniczek</a>
                        </h3>
                        <p style="text-align: justify">
                            W tej sekcji prowadzę dokumentację zdobytych umiejętności.
                            Podzielona jest na poszczególne tematy - nazwy projektów. W każdym temacie znajdować będą się wpisy podsumowujące
                            konkretny etap pracy wraz z linkiem do repozytorium oraz część merytoryczną zbyt mało obszerną, by umieszczać ją jako wpis na blogu.
                        </p>
                    </div>
                    
                </div>
            
        </div>
        <div class="row">
            <div class="citer">
                <h3>
                    <cite>"Nic nie wnoszący cytat zapychający tylko miejsce"</cite>
                        - Ja
                </h3>
            </div>
        </div>
    </div>

    {% endblock content %}