{% extends "log_app/base.html" %}

{% block content %}
<div class="container lowe">
    <section class="content">
        <h3>Dodaj nowy wpis:</h3>
        <form action="{% url 'blog_app:new_post' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button name='submit'>Dodaj wpis</button>
        </form>
    </section>
</div>
{% endblock content %}