{% extends "log_app/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
<div class="container lowe">
    <div class="col-md-10">
        <h5>{{ blog_post.date_added|date:'d M Y' }}</h5>
        <h4><a href="{% url 'blog_app:category' blog_post.category %}">{{ blog_post.category }}</a></h4>
        <h2>{{ blog_post.title }}</h2>
        {% if user.is_authenticated %}
            <a href="{% url 'blog_app:edit_post' blog_post.id %}">Edytuj wpis</a> - 
            <a href="{% url 'blog_app:delete_post' blog_post.id %}">Usuń wpis</a>
        {% endif %}
        

        <p class="post">
            {{ blog_post.post|safe|linebreaks }}
        </p>

        <hr />
        <h3>Komentarze: </h3>
        
        <form action="{% url 'blog_app:show_post' blog_post.id %}" method='post'>
            <fieldset>
                <legend>Dodaj komentarz</legend>
                {% csrf_token %}
                {% bootstrap_form form %}
                <p>
                    <label for="checker">2 + 2 * 2 = ?</label><br />
                    <input type="text" id="checker" name="checker" required><br>
                </p>
                {% buttons %}
                    <button name='submit' class="btn btn-default">Publikuj</button>
                {% endbuttons %}
            </fieldset>
        </form>
        <hr />
        <p>
            {% for comment in comments  %}
                <div class="comment">
                    <p><small>{{comment.date_added|date:'d M Y H:i'}}</small>
                    {% if user.is_authenticated %}
                        <a href="{% url 'blog_app:delete_comment' comment.id %}">Usuń</a>
                    {% endif %}    
                        <br />
                        <em><span class="author">{{ comment.author }}</span> <small>napisał(a):</small></em></p>
                    <p class="comment_git"> {{ comment }} </p>
                </div>
                <hr />
            {% endfor %}
        </p>
    </div>

    <div class="col-md-2" >
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">kategorie</h3>
            </div>
            <div class="panel-body">
                {% for category in categories  %}
                    <a href="{% url 'blog_app:category' category.text %}">{{ category }}</a><br />
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}