/**
/\
============ BASIC SETTING ===============
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 1.8rem;
    font-weight: 400;
}
.thumbnail {
    margin: 10px;
    padding: 10px;
}
.jumbotron {
    background-color: rgba(0,0,0,0);
}
.lowe {
    padding: 70px 0;
}
.container.lowe,
.container, .lowe {
    max-width: 1044px;

}
.panel {
    margin-top: 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #000000;
    padding-top: 5px;
  }

/***** logapp ******/


/******************/
  
/*--------------------------------------------------LANDING PAGE ---------------------------*/

/*====== HEADER IMG ===============*/

header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.5)),to(rgba(0, 0, 0, 0.5))),url(bgg.jpg);
    background-image: linear-gradient(rgba(32, 99, 143, 0.5),rgba(41, 128, 185, 0.5)),url(bgg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;              /*viewport 100%*/
    background-attachment: fixed;
}
header .jumbotron {
    position: relative;
    top: 150px;
    padding-left: 30px;
}

/* === section ===*/

.lp h2{
    margin: 100px 0;
    text-align: center;
}
.lp h2:after {
    display: block;
    height: 2px;
    background-color: #2980b9;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.container.lp {
    margin-bottom:100px;
}
.secta {
    margin-top: 50px;
    margin-bottom: 50px;
}
.citer{
    margin-top: 100px;
    text-align: center;
}
.citer h3:before {
    display: block;
    height: 2px;
    background-color: #2980b9;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}
/*----------------END OF LANDING PAGE ------------------------*/


/*---blog_app comment form---*/
fieldset {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
}
legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
}
input[type="text"] {
    width: 200px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 2px;
    outline: none;
}
input[type="text"]:focus,
input[type="text"]:hover,
textarea:hover,
textarea:focus {
    border: 1px solid #999;
}

textarea {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 2px;
    outline: none;
}
